<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

  <% if(wiki.private == true)  { %>
    <h2> Collaborators </h2>
    <% if(collaborators) { %>
      <p>
      <ul class ="list-group">
        <% collaborators.forEach((collaborator) => {  %>
            <li class="list-group-item">
                  <%= collaborator.User.username %>
                  <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
                    <form action="/wikis/<%= wiki.id %>/collaborators/remove" method="post">
                      <button type="submit" class="btn btn-danger">Remove</button>
                      <input type="hidden" value="<%= collaborator.User.id %>" class="form-control" name="collaborator" >
                    </form>
                <% } %>
           </li>
        <% }) %>
      </ul>
    </p>
    <% } %>
    <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
      <form action="/wikis/<%= wiki.id %>/collaborators/add" method="post">
        <div class="input-group">
          <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
        </form>
        <% } %>
        <% } %>
        </main>
    </body>
</html>
