
<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <h1>Private Wikis</h1>


        <% if(currentUser) { %>
          <a href="/wikis/new" class="btn btn-success">New Wiki</a>
        <% } %>

        <ul class="list-group">
          <% wikis.forEach((wiki) => { %>
            <% if(wiki.private === true && (currentUser && currentUser.role === "premium")) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
            <% } %>
          <% }) %>
        </ul>

    </main>
  </body>
</html>
